# Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore large model/video files
*.bin
*.mp4
*.pt
*.pth
*.onnx

# Ignore files inside weights, but allow txt and gitkeep
detectModels/weights/*
!detectModels/weights/
!detectModels/weights/*.txt
!detectModels/weights/.gitkeep