# Python cache
__pycache__/
*.py[cod]
*$py.class

# Keep weights folder, ignore files inside
weights/*
!weights/.gitkeep

# If weights is inside detectModels/
detectModels/weights/*
!detectModels/weights/.gitkeep

# Large files
*.bin
*.mp4
*.pt
*.pth
*.onnx