# yoloViewer / YOLOv7 Windows Python 3.12 environment

opencv-python==4.8.1.78
Pillow==10.2.0
matplotlib==3.7.5
numpy==1.26.4

scipy==1.13.1
PyYAML==6.0.1
tqdm==4.66.1
requests==2.31.0
pandas==2.2.2
seaborn==0.13.2

# GUI
tkfilebrowser==2.3.2

# model / utils
torch>=2.2.0
torchvision>=0.17.0

# optional but commonly used by YOLOv7
psutil
thop